# Force .v and .sv files to be recognized as Verilog
#*.v linguist-language=Verilog
#*.sv linguist-language=SystemVerilog

# Stata files are being picked up wrongly, marking them too
*.do linguist-generated
